@use '../../scss/variables' as v;

@import '../../scss/media';

.items {
  @include v.bg-gradient;

  @include more576 {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem;

  .title {
    @include more576 {
      font-size: 1.75vmin;
    }

    display: flex;
    align-items: center;

    width: fit-content;
    padding: 0.5rem;

    font-size: 3vmin;
    font-weight: 700;
    color: v.$primary_500;

    background-color: #fff;
    border-radius: 0.25rem;

    span {
      @include more992 {
        margin-right: 1rem;
      }

      margin-right: 0.25rem;
    }
  }

  .content {
    @include more576 {
      margin-top: auto;
      font-size: 3vmin;
    }

    font-size: 4vmin;
    font-weight: 500;
    color: #fff;
    text-align: right;

    & > span {
      @include more576 {
        margin-left: 0.5rem;
        font-size: 2vmin;
      }

      margin-left: 0.25rem;
      font-size: 3vmin;
    }
  }
}
