@use '../../scss/variables' as v;

@import '../../scss/media';

.items {
  @include v.bg-gradient;

  @include more576 {
    flex-direction: column;
    gap: v.$sp_1;
    align-items: stretch;
  }

  display: flex;
  gap: calc(v.$sp_1 / 2);
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: v.$sp_1;

  .title {
    @include more576 {
      font-size: 1.75vmin;
    }

    display: flex;
    align-items: center;

    width: fit-content;
    padding: calc(v.$sp_1 / 2);

    font-size: 3vmin;
    font-weight: 700;
    color: v.$primary_500;

    background-color: v.$bg_highlight;
    border-radius: v.$bdrs_1;

    span {
      @include more992 {
        margin-right: v.$sp_1;
      }

      margin-right: calc(v.$sp_1 / 2);
    }
  }

  .content {
    @include more576 {
      margin-top: auto;
      font-size: 3vmin;
    }

    font-size: 4vmin;
    font-weight: 500;
    color: v.$white;
    text-align: right;

    & > span {
      @include more576 {
        margin-left: calc(v.$sp_1 / 2);
        font-size: 2vmin;
      }

      margin-left: calc(v.$sp_1 / 4);
      font-size: 3vmin;
    }
  }
}
