@use '../../scss/variables' as v;

@import '../../scss/media';

.card {
  @include v.bg-blur;

  display: flex;
}

.icon {
  width: 45%;
  max-width: 200px;
  border-radius: v.$bdrs_1;

  svg {
    width: 100%;
    height: 100%;
  }
}

.info {
  @include more576 {
    gap: v.$sp_2;
  }

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: v.$sp_1;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  margin: v.$sp_2 v.$sp_2 v.$sp_2 0;

  &_city {
    @include more576 {
      font-size: 2.5vmin;
    }

    display: flex;
    flex-wrap: wrap;
    gap: calc(v.$sp_1 / 2) v.$sp_1;
    justify-content: flex-end;

    font-size: 3.6vmin;
    font-weight: 700;
    color: v.$primary_500;
  }

  &_temp {
    @include more576 {
      font-size: 8vmin;
      font-weight: 300;

      span {
        font-size: 3vmin;
      }
    }

    font-size: 10vmin;
    font-weight: 300;
    color: v.$white;

    span {
      margin-left: calc(v.$sp_1 / 2);
      font-size: 4vmin;
      vertical-align: top;
    }
  }
}
