@use '../../scss/variables' as v;

.card {
  @include v.bg-blur;

  display: flex;
}

.icon {
  width: 50vw;
  max-width: 150px;
  height: 50vw;
  height: 100%;

  border-radius: v.$bdrs_1;

  svg {
    height: 100%;
  }
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: v.$gap_2;
  align-items: flex-end;
  justify-content: center;

  margin: 2rem 3rem 2rem 0;

  &_city {
    display: flex;
    gap: calc(v.$gap_1 / 2) v.$gap_1;
    justify-content: flex-end;

    font-size: 3vmin;
    font-weight: 400;
    color: v.$primary_500;
  }

  &_temp {
    font-size: 9vmin;
    font-weight: 300;
    color: #fff;

    span {
      margin-left: 8px;
      font-size: 3vmin;
      vertical-align: top;
    }
  }
}
