@use '../../scss/variables' as v;

@import '../../scss/media';

.header {
  display: flex;
  flex-direction: column;
  gap: v.$sp_1;

  color: v.$white;
  text-align: center;
}

.title {
  @include more576 {
    font-size: 2rem;
  }

  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle {
  @include more576 {
    font-size: 1.25rem;
  }

  font-size: 1rem;
  font-weight: 400;
}
