@use '../../scss/variables' as v;

.list {
  @include v.bg-blur;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: v.$sp_1;

  height: 100%;
  padding: v.$sp_2;

  &::-webkit-scrollbar {
    display: none;
  }

  &_item {
    @include v.bg-gradient;

    padding: v.$sp_1;

    font-size: 1rem;
    font-weight: 700;
    color: v.$primary_900;

    border: 2px solid v.$bd_color;

    transition: v.$trans_1;

    &:hover,
    &:active {
      @include v.bg-gradient;

      color: v.$text_hover;
      box-shadow: inset 0 0 0 0 #ffffff80, 0 0 8px 2px #fff;
      transition: v.$trans_1;
    }
  }
}
