@use './scss/reset';

html,
body {
  letter-spacing: 2px;
  background-color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  overflow: hidden;
  display: flex;

  width: 100%;
  height: 100vh;
  height: var(--vh);
}
