// color
$primary_100: #c3daf3;
$primary_500: #658fae;
$primary_900: #304e78;

// border radius
$bdrs_1: 8px;

// gap
$gap_1: 1rem;
$gap_2: 2rem;
$gap_3: 3rem;

// white bg
@mixin bg-blur {
  background-color: rgba($color: #fff, $alpha: 30%);
  -webkit-backdrop-filter: blur(8px) brightness(120%);
  backdrop-filter: blur(8px) brightness(120%);
  border-radius: $bdrs_1;
}
