@import '../../scss/media';

.page {
  flex: 1;

  & > svg:first-child {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
  }
}

.section {
  @include more576 {
    padding: 3rem;
  }

  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.container {
  position: relative;
  z-index: 99;

  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
